{% extends "index/sign-base-k8slog.html" %}
{% block title %}k8s日志{% endblock %} 
{%block subtitle %}
<i class="fa fa-gear fa-fw"></i>
日志查看 -- 默认历史行数为1000，可自定义 
<div class="pull-right">
<button onclick="syncapp(this)" type="button" class="btn btn-default btn-xs "><i class="fa fa-refresh fa-fw"></i> 部署后请刷新</button>
</div>
{% endblock %}
{% block menu %} {% endblock %} 
{% block content %}
<div class="col-lg-12">
   <div class="form-group input-group col-lg-10">
     </div>
		<table style='text-align: center;word-break:break-all; word-wrap:break-all;'
			class="table table-bordered table-hover table-striped" id="portlist">
			<thead>
				<tr>
					<th style='text-align: center;'>部署环境</th>
					<th style='text-align: center;'>应用名</th>
					<th style='text-align: center;'>日志操作</th>
				</tr>
			</thead>
			{% for i in allres %}
			<tr>
				<td>{{ i.ns }}</td>
				<td>{{ i.podname }}</td>
				<td>最近&nbsp<input class="form-control" style="width: 70px;height: 25px;" id="logline" value=1000>条 &nbsp<button onclick="showlog(this)" type="button" class="btn btn-warning btn-xs"><i class="fa fa-desktop"></i>&nbsp查看</button> &nbsp &nbsp<button onclick="downlog(this)" type="button" class="btn btn-primary btn-xs"><i class="fa fa-download"></i>&nbsp下载</button></td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
	<!-- /.table-responsive -->
</div>

<!-- 遮罩层 -->
<div id="cover" style="background: #000; position: absolute; left: 0px; top: 0px; width: 100%; filter: alpha(opacity=30); opacity: 0.3; display: none; z-index: 2 ">
   
</div>
<!-- 弹窗 -->
<div id="showdiv" style="width: 80%; margin: 0 auto; height: 9.5rem; border: 1px solid #999; display: none; position: absolute; top: 10%; left: 10%; z-index: 3; background: #fff">
  <!-- 标题 -->
  <div style="background: #F8F7F7; width: 100%; height: 2rem; font-size: 0.65rem; line-height: 2rem; border: 1px solid #999; text-align: right;" >
每隔10s获取最新日志 
<button onclick="closelog(this)" type="button" class="btn btn-danger btn-xs"><i class="fa fa-times"></i>关闭</button>
  </div>
  <!-- 内容 -->
<div id='k8slog' style="background: rgb(36,36,36);color: #ffffff;font-size:14px;max-height:450px;overflow:auto">
</div >
  <!-- 按钮 -->
  <div style="background: #ddd; width: 100%; margin: 0 auto; height: 1.5rem; line-height: 1.5rem; text-align: center;color: #fff;margin-top: 1rem; -moz-border-radius: .128rem; -webkit-border-radius: .128rem; border-radius: .128rem;font-size: .59733rem;">
  </div>
</div>
{% include 'index/link-k8slog-js.html' %}
<script>
  $(document).ready(function() {
   $('#portlist').DataTable({
      responsive: true,
      bPaginate: true,
      language: {
          lengthMenu: '显示<select class="form-control input-xsmall">' + '<option value="5">5</option>' + '<option value="10">10</option>' + '<option value="20">20</option>' + '<option value="40">40</option>' + '<option value="80">80</option>' + '<option value="100">100</option>' + '</select>条记录',//左上角的分页大小显示。
          search: '搜索：',//右上角的搜索文本，可以写html标签
          paginate: {//分页的样式内容。
              previous: "上一页",
              next: "下一页",
              first: "第一页",
              last: "最后"
          },
          zeroRecords: "没有内容",//table tbody内容为空时，tbody的内容。
          //下面三者构成了总体的左下角的内容。
          info: "总共_TOTAL_  条，显示第_START_ 条到第 _END_ 条",//左下角的信息显示，大写的词为关键字。
          infoEmpty: "0条记录",//筛选为空时左下角的显示。
          infoFiltered: ""//筛选之后的左下角筛选提示，
      },
    });
  });
</script>
{%endblock%}
