<!-- jQuery -->
<script src="../../static/js/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="../../static/js/bootstrap.min.js"></script>
<!-- Metis Menu Plugin JavaScript -->
<script src="../../static/js/metisMenu.min.js"></script>
<!-- Custom Theme JavaScript -->
 <!-- DataTables JavaScript -->
<script src="../../static/js/jquery.dataTables.min.js"></script>
<script src="../../static/js/dataTables.bootstrap.min.js"></script>
<script src="../../static/js/dataTables.responsive.js"></script>
<script src="../../static/js/admin-2.js"></script>
<script src="../../static/js/k8slog.js"></script>
