{% extends "index/sign-base01.html" %}
{% block title %}接口测试地址{% endblock %} 
{%block subtitle %}
<i class="fa fa-gear fa-fw"></i>
用户接口地址测试(内外网地址均可)
{% endblock %}
{% block menu %} {% endblock %} 
{% block content %}
<div class="col-lg-12">
   <div class="form-group input-group col-lg-10">
                   <input id="domain" placeholder="地址格式:http://aaa/bbb/?id=ccc..." type="text" class="form-control">
                  <span class="input-group-btn">
                 
                  <span class="input-group-btn">
                  <button style="margin-left: 25px;margin-right: 25px;" onclick="postman(this)" class="btn btn-success" type="button"><i class="fa">获取数据(get方法) </i>
                   </button>
                  </span>
                   <span class="input-group-btn">
                     <span id="tip" style="margin-left: 25px;margin-right: 25px;font-size: 18px;"></span>
                  </span>             
     </div>
    <div id='confview' class="col-sm-12">
    <div>



	<!-- /.table-responsive -->
</div>
<!-- 模态框 -->

{% include 'index/link-postman-js.html' %}
<script>
</script>
{%endblock%}
